## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME', 'ORGANIZATION', 'INCOME_AMT'], axis=1, inplace=True)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
STATUS                       2
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application_types_to_replace[application_types_to_replace < 1000].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts[class_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classifications_to_replace[classifications_to_replace < 4000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=int)

In [10]:
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,CLASSIFICATION_C1200,CLASSIFICATION_C2000,CLASSIFICATION_Other,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
2,1,5000,0,0,0,0,0,1,0,1,...,0,0,1,0,0,0,0,1,1,0
3,1,6692,1,0,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation="relu", input_dim=X_train_scaled.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               2600

 dense_1 (Dense)             (None, 40)                4040

 dense_2 (Dense)             (None, 1)                 41

=================================================================
Total params: 6,681
Trainable params: 6,681
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_nn = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5872 - accuracy: 0.7156
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5785 - accuracy: 0.7208
Epoch 3/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5764 - accuracy: 0.7215
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5758 - accuracy: 0.7213
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5757 - accuracy: 0.7218
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5749 - accuracy: 0.7213
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5748 - accuracy: 0.7229
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5741 - accuracy: 0.7228
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5749 - accuracy: 0.7223
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5736 - accuracy: 0.7226
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5736 - accuracy: 0.7226
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5734 - accuracy: 0.7231
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5733 - accuracy: 0.7236
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5728 - accuracy: 0.7240
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5724 - accuracy: 0.7232
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5722 - accuracy: 0.7243
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5722 - accuracy: 0.7241
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5723 - accuracy: 0.7241
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5718 - accuracy: 0.7247
Epoch 20/100
804/804 [==============================] - 1s 953us/step - loss: 0.5716 - accuracy: 0.7247
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5715 - accuracy: 0.7249
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5712 - accuracy: 0.7247
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5711 - accuracy: 0.7248
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5712 - accuracy: 0.7256
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5711 - accuracy: 0.7250
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5709 - accuracy: 0.7254
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5707 - accuracy: 0.7254
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5707 - accuracy: 0.7256
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5708 - accuracy: 0.7254
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5702 - accuracy: 0.7257
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5700 - accuracy: 0.7256
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5699 - accuracy: 0.7254
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5701 - accuracy: 0.7259
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5701 - accuracy: 0.7256
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5703 - accuracy: 0.7254
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5696 - accuracy: 0.7251
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5700 - accuracy: 0.7262
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5702 - accuracy: 0.7254
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5698 - accuracy: 0.7253
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5693 - accuracy: 0.7262
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5693 - accuracy: 0.7257
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5692 - accuracy: 0.7264
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5693 - accuracy: 0.7260
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5693 - accuracy: 0.7259
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5693 - accuracy: 0.7258
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5690 - accuracy: 0.7255
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5692 - accuracy: 0.7263
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5690 - accuracy: 0.7255
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5691 - accuracy: 0.7257
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5689 - accuracy: 0.7264
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5689 - accuracy: 0.7256
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5689 - accuracy: 0.7255
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5688 - accuracy: 0.7262
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5690 - accuracy: 0.7259
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5687 - accuracy: 0.7260
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5689 - accuracy: 0.7263
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5685 - accuracy: 0.7255
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5689 - accuracy: 0.7259
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5687 - accuracy: 0.7262
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5688 - accuracy: 0.7261
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5686 - accuracy: 0.7261
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5685 - accuracy: 0.7267
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5681 - accuracy: 0.7266
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5687 - accuracy: 0.7260
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5679 - accuracy: 0.7270
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5681 - accuracy: 0.7266
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5684 - accuracy: 0.7267
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5688 - accuracy: 0.7266
Epoch 69/100
804/804 [==============================] - 1s 993us/step - loss: 0.5682 - accuracy: 0.7268
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5680 - accuracy: 0.7260
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5682 - accuracy: 0.7262
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5682 - accuracy: 0.7263
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5680 - accuracy: 0.7267
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5679 - accuracy: 0.7266
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5682 - accuracy: 0.7266
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5674 - accuracy: 0.7266
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5682 - accuracy: 0.7270
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5685 - accuracy: 0.7269
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5677 - accuracy: 0.7266
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5679 - accuracy: 0.7266
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5674 - accuracy: 0.7268
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5680 - accuracy: 0.7266
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5673 - accuracy: 0.7273
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5675 - accuracy: 0.7273
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5677 - accuracy: 0.7270
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5675 - accuracy: 0.7270
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5669 - accuracy: 0.7270
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5678 - accuracy: 0.7267
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5673 - accuracy: 0.7273
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5672 - accuracy: 0.7272
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5675 - accuracy: 0.7271
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5675 - accuracy: 0.7262
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5671 - accuracy: 0.7273
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5672 - accuracy: 0.7268
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5673 - accuracy: 0.7272
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5672 - accuracy: 0.7266
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5673 - accuracy: 0.7273
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5676 - accuracy: 0.7272
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5670 - accuracy: 0.7274
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5671 - accuracy: 0.7272

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5731 - accuracy: 0.7243 - 427ms/epoch - 2ms/step
Loss: 0.5731293559074402, Accuracy: 0.7243148684501648

In [17]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_2.h5")